<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Расчёт смеси №{{ .concentration.ID }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="/" class="home-btn"><svg width="32" height="32" fill="#232B46" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
</svg></a>
    </header>

    <div class="container">
        <!-- Карточка с информацией о расчёте -->
        <div class="calc-info">
            <h2>Расчёт смеси №{{ .concentration.ID }}</h2>
            <p><strong>Концентрация в растворе:</strong> {{ .concentration.Result }}</p>
            <!--<p><strong>Дата создания:</strong> {{ .concentration.CreatedAt.Format "02.01.2006 15:04" }}</p>
            <p><strong>Статус:</strong> {{ .concentration.Status }}</p>-->
            <!--<p><strong>Описание:</strong> {{ .Concentration.Description }}</p>-->
            <form action="/delete-concentration" method="POST">
                <input type="hidden" name="concentration_id" value="{{ .concentration.ID }}">
                <button type="submit" class="btn delete-btn">Удалить заявку</button>
            </form>
        </div>

        <!-- Заголовки (отдельная карточка) -->
        <div class="calc-head">
            <span> </span> <!-- для картинки -->
            <span>Раствор</span>
            <span>Концентрация (М)</span>
            <span>Ионы</span>
            <span>Объём (мл)</span>            
        </div>

        <!-- Карточки выбранных растворов -->
        {{ range .items }}
        <div class="calc-card">
            <img src="{{ .Electrolyte.Image }}" alt="{{ .Electrolyte.Name }}" class="item-icon">
            <span>{{ .Electrolyte.Name }}</span>
            <span>{{ .Electrolyte.Concentration }}</span>
            <span>{{ .Electrolyte.Ions }}</span>
            <span><input type="number" class="m-field" value="{{ .Volume }}" readonly></span>
            
        </div>
        {{ else }}
        <p>В заявке нет растворов</p>
        {{ end }}
    </div>
</body>
</html>